body {
  background-color: #1a212d;
  color: white;
  font-family: monospace;
  padding: 10px;
}
@media screen and (min-width: 600px) {
  body {
    padding: 10px 20px;
  }
}

h1 {
  background: linear-gradient(white, #51eaff);
  -webkit-background-clip: text;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

#intro {
  margin: 10px 0 40px;
  > div {
    margin: 10px 0;
    > div {
      margin: 5px 0 0 20px;
    }
  }
}
.question {
  position: relative;
  margin-top: 25px;
  padding-left: 15px;
}
.question.invalid {
  > .qq {
    border-left-color: #fb6f6f;
  }
  > .qnum {
    color: #fb6f6f;
  }
}
.qq {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 2px solid silver;
}
.qnum {
  position: absolute;
  top: 0;
  left: 0;
}
.qscale {
  margin: 20px 0 0;
  > label {
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
  }
  input {
    margin: 0 10px 10px;
    transform: scale(1.5);
    cursor: pointer;
  }
}

.submit {
  margin: 40px 35px !important;
}
button {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #4f94d4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
#score {
  margin-top: 40px;
  > div {
    margin: 0 0 20px;
  }
  span {
    font-size: 24px;
    font-weight: bold;
  }
}
footer {
  margin-top: 80px;
  font-size: 14px;
  text-align: center;
}
a {
  color: #4f94d4 !important;
}
@media print {
  h1 {
    font-size: 20px;
    background: none !important;
    -webkit-text-fill-color: black !important;
  }
  button,
  .no-print {
    display: none !important;
  }
  body {
    background: white;
    color: black;
  }
  #score,
  .qq {
    break-inside: avoid;
  }
  #score {
    padding-top: 20px;
  }
  .qq {
    break-inside: avoid;
    border: none;
    padding-left: 0;
  }
  .question {
    margin-top: 10px;
  }
  .qscale {
    margin-top: 10px;
  }
  input {
    transform: none !important;
  }
  footer > p {
    text-align: left;
    color: grey;
    > a {
      text-decoration: none;
    }
  }
}
